@model prensaestudiantil.Web.Data.Entities.Publication

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<br />

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success fade in">
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

<div class="col-md-8">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Footer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Footer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateLocal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateLocal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
</div>
<div class="col-md-4">
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Url.Content(Model.ImageUrl)"
             alt="@Model.Title"
             title="@Model.Title"
             style="width:300px;height:300px;max-width: 100%; height: auto;" />
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".alert").fadeTo(5000, 500).slideUp(500, function () {
                $(".alert-dismissible").alert('close');
            });
        });
    </script>
}

