@model prensaestudiantil.Web.Models.MainIndexViewModel

@{
    ViewData["Title"] = "Prensa Estudiantil";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<div class="row">
    <partial name="_Carrousel" />
</div>

<div class="row">
    <div class="col-md-9" margin-top: 10px;">
        @{
            int i = 0;
            string divClass = "col-md-6";
        }

        @*List publications in main page*@
        @foreach (var item in Model.Publications)
        {
            i++;

            if (i == 1)
            {
                divClass = "col-md-9 col-sm-9 col-lg-9 col-xs-9";
                <img class="col-md-3 col-sm-3 col-lg-3 col-xs-3" src="~/images/logo.png" />
            }
            else
            {
                if (i == 12)
                {
                    break;
                }
                divClass = "col-md-6";
            }

            <div class="@divClass" style="margin-top: 6px; float: right">
                <div style="border: 1px solid #D8D8D8; border-radius: 10px; padding: 10px;">
                    <div class="card-title">
                        <a asp-action="Details" asp-controller="Publications" asp-route-id="@item.Id" class="title h4"> @item.Title </a>
                        <p>
                            <span class="badge accent-color">@Html.DisplayFor(modelItem => item.PublicationCategory.Name)</span>
                            <small class="text-muted" style="font-size: x-small">@Html.DisplayFor(modelItem => item.DateLocal)</small>
                        </p>
                    </div>

                    <div class="car-body">
                        <a href="Publications/Details/@item.Id" class="black-color">
                            <img class="card-img"
                                 src="@Html.DisplayFor(modelItem => item.ImageFullPath)"
                                 style="margin-top: 5px; width: 100%;"
                                 alt='@item.Title'
                                 title='@item.Title' />
                        </a>

                        <p class="card-text" style="text-align: justify">
                            @Html.DisplayFor(modelItem => item.Header)
                            @Html.ActionLink("[+]", "Details", new { id = item.Id }, new { @class = "green-color" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-md-3" style="background-color: blue; height: 200px;">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PublicationsTable').DataTable();
        });
    </script>
}
